<!DOCTYPE html>
<html class="uk-notouch">
    <head>
        <title> Accueil </title>
<meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/css/uikit.css" />
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.min.js"></script>
    </head>
<body>

<nav class="uk-navbar">
                <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">82-305</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
    <a href="/static/pages/main.html">
                            Accueil
                        </a>
                    </li>
                    <li>
        <a href="/static/pages/intro.html">
                            L'Introduction
                        </a>
                    </li>
                    <li>
                        <a href="/static/pages/histoire.html">
                            Le Contexte
                        </a>
                    </li>
                    <li>
                        <a href="layouts_contact.html">
                            La Culture
                        </a>
                    </li>
                    <li>
                        <a href="layouts_login.html">
                            L'Aide
                        </a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
            </nav>
<center>
<div class="uk-vertical-align uk-text-center uk-margin-remove-vertical"

 style="background: url('/static/images/main/main.jpg') 100% 0 no-repeat;
 background-size: 1500px; width: 1400px; height: 900px;">
                        <div class="uk-vertical-align-middle uk-width-1-2">
                        <h1 
        class="uk-heading-large"
        style="font-weight: 900"
        > 
            Les Écoles </br> Diwan
        </h1>

                            <p>
                                <a class="uk-button uk-button-primary uk-button-large" href="/static/pages/intro.html">
                                    Commencer
                                </a>

                            </p>
                        </div>
                    </div>
</center>

</body>

</html>