<!DOCTYPE html>
--<html>
      <head>
          <title> Here is a less arbitrary title </title>
        <link rel="stylesheet" href="/static/css/uikit.css" />
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.min.js"></script>
      </head>
      <title> 82305 </title>
      <body>
<article class="uk-article">
      <h1 class="uk-article-title">82305</h1>
      <p class="uk-article-meta">
          Ici, vous pouvez voir mon project:
      <a href="/static/pages/main.html" class="uk-button">
          Bienvenue!!
      </a>
          {% load static %}
--       <img src="{% static "images/front.jpg" %}"
                                    alt="ohnothevaluerestriction"
                                    width="1000"
                                    height="400"
                                   />


      </p>


--</article>
  </body>
  </html>
