<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
<title> L'Introduction </title>

<body>
<h1 align="center"> 82-305 </h1>
<p>
Ici, vous pouvez voir mon project:
<a href="/static/pages/main.html"> bienvenue </a> 
</br>
</br>
Ici, j'explique mon project <a href="dummy"> NYI </a>
</br>
</br>
Et ici, vous pouvez apprendre un peu de notre classe:
<a href="dummy"> 82-305 </a>
</p>

<center>
<img src="static/images/home/home.jpg"
 width="1008" height="756" align="middle" alt="front of school">
</img>
</center>

</body>
</html>
